
@each $size,$w in $sizes {
    @media screen and (min-width: $w){
        .fixed-width {
            width: $w;
            margin: auto;
        }
        @for $i from 1 through $col {
            .col-#{$size}-#{$i}{
                width: 100% / $col * $i;
                float: left;
                padding: $colPadding;
            }
        }
    }

}