$overlay-color: #65ff37;
@mixin ob($w,$h,$p){
    width: $w;
    height: $h;
    position: $p;
}

.box {
    @include ob(300px,200px,relative);
    overflow: hidden;
    .gallery {
        @include ob(100%,100%,absolute);
    }
    .overlay {
        @include ob(100%,100%,absolute);
        background-color: fade-out($overlay-color,1);
        transition: all .6s;
    }
    .overlay-top {
        @include ob(300px,200px,absolute);
        top: -200px;
        background-color: fade-out($overlay-color,0.5);
        transition: all .6s;
    }
    .overlay-bottom {
        @include ob(300px,200px,absolute);
        bottom: -200px;
        background-color: fade-out($overlay-color,0.5);
        transition: all .6s;
    }
    .overlay-left {
        @include ob(300px,200px,absolute);
        left: -300px;
        background-color: fade-out($overlay-color,0.5);
        transition: all .6s;
    }
    .overlay-right {
        @include ob(300px,200px,absolute);
        right: -300px;
        background-color: fade-out($overlay-color,0.5);
        transition: all .6s;
    }
    .overlay-zoom {
        @include ob(300px,200px,absolute);
        transform: rotate(180deg)scale(0,0);
        background-color: fade-out($overlay-color,0.5);

        transition: all .6s;
    }
    &:hover {
        .overlay {
            background-color: fade-out($overlay-color,0.5)
        }
        .overlay-top {
            top: 0;
        }
        .overlay-bottom {
            bottom: 0;
        }
        .overlay-left {
            left: 0;
        }
        .overlay-right {
            right: 0;
        }
        .overlay-zoom {
            transform: rotate(0deg)scale(1,1);
        }
    }
    
}