$primary-color: #f00;


* {
  box-sizing: border-box;
}
// @for $i from 1 through 12 {
//   .col-#{$i} {
//     width: 100% / 12 * $i;
//     float: left;
//     padding: 15px;
//   }
// }
$colors: red green blue;
@each $color in $colors {
  .box {
    background-color: $color;
  }
}

$sizes:(
  sm: 480px,
  md: 768px,
  xl: 1024px
);
.container {
  width: map-get($sizes,md);
}
@each $size,$w in $sizes {
  .col-#{$size}{
    width: $w ;
  }
}
